<div class="centered">
  <h1>IIC2513 - Project template</h1>
  <h2>App web version <%= appVersion %></h2>
  <a href="/hello" class="home-link">You can click me!</a>

  <div class="container">
    <p>A React component example:</p>
    <div id="react-app">Here a React app will be rendered</div>
  </div>
</div>
