<div class="centered">
  <h1>IIC2513 - Project template</h1>
  <h2>App web version <%= appVersion %></h2>

  <div class="u-margin-top">
    <p>A React component example:</p>
    <div id="react-app">Here a React app will be rendered</div>
  </div>
</div>
