<div class="centered">
  <h2>Hello <a href="<%= nameUrl('your-name-here') %>">your-name-here</a>.</h2>

  <% if (notice) { %>
    <p class="status-message"><%= notice %></p>
  <% } %>

  <div class="container">
    <p>You can also fill this form if you feel like doing so...</p>
    <form action="/hello" enctype="multipart/form-data" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="file" name="uploads" multiple="multiple">
      <input type="submit" value="Subir">
      <a href="/" class="hello-link">Go back</a>
    </form>
  </div>
</div>
