.centered {
  margin: auto;
  width: 50%;
}

h1 {
  text-align: center;
  color: $color-primary-dark;
}

h2 {
  color: $color-grey;
  text-align: center;
  font-size: 20px;
}

.u-margin-top {
  margin-top: 20px;
}

#react-app {
  margin-top: 5px;
  background-color: $color-grey;
  color: $color-white;
  padding: 30px 15px;
}
