$color-white: #fafafa;
$color-primary-dark: #2c2c5e;
$color-primary-light: #525296;
$color-grey: #333;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  min-height: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-primary-dark;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  background-color: $color-grey;
  height: 40px;
  width: 90vw;
  margin: auto;
  padding: 0 10px;

  img {
    height: 40px;
  }
}

main {
  width: 90vw;
  height: calc(100vh - 40px);
  margin: auto;
  background-color: $color-white;
  box-sizing: border-box;
  padding: 20px;
}

a {
  &:visited,
  &:link {
    color: $color-primary-dark;
  }

  &:hover,
  &:active {
    color: $color-primary-light;
  }
}
